body {
  margin: 0;
  padding: 0;
}
.cointainer {
  top: 30%;
  left: 30%;
  height: 70%;
  width: 50%;
  position: absolute;
}
.card {
  width: 10rem;
  height: 10rem;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 3px grey;
  transition: 0.2s ease-out;
}
.list {
  list-style: none;
  margin: 10px;
}
.card-header {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: green;
}
.card:hover {
  background-color: #6e6e6e;
  color: white;
  width: 10.5rem;
  height: 10.5rem;
}
.card:hover .card-header {
  color: white;
}

.icon {
  color: black;
  line-height: 0;
}
.track {
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
  position: a;
}

.track i {
  font-size: 16px;
  padding-right: 10px;
}

.track input {
  border: none;
  outline: none;
  background: transparent;
}

.track button {
  border: 1px solid #6e6e6e;
  background: #6e6e6e;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  color: white;
  transition: 80ms ease-in-out;
}
.track button:hover {
  background: #e00e7b;
}
