<html lang="en">
{% load static %}

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Delta Cargo Movers</title>
    <style>
        .form-gap {
            margin-bottom: 8px;
            ;
        }
    </style>
</head>
{% include 'sidenav.html' %}

<body>
    <div class="container">
        <form action="{% url 'book/' %}" method="post">
            {% csrf_token %}
            <div class="row d-flex justify-content-center ">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" required>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center ">
                    <div class="form-gap" id="">
                        <label>Destination</label>
                        <select name="destination" id="destination">
                            <option selected hidden>Destination</option>
                            {% for i in destinations %}
                            <option value="{{i.destination}}">{{i.destination}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-md-3 d-flex justify-content-center ">
                    <div class="form-gap">
                        <select name="cashcredit" id="creditcard">
                            <option value="cash">Cash</option>
                            <option value="credit">Credit</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap">
                        <label for="wt">paid/topay:</label>
                        <select name="paid">
                            <option value="paid">Pay</option>
                            <option value="tobepaid">To</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center" id="clientlist">
                    <div class="form-gap" id="list" style="display: none;">
                        <label>Credit List</label>
                        <select name="clientlist" id="clientlist">
                            <option selected hidden>clientlist</option>
                            {% for i in clientlist %}
                            <option value="{{i.clientname}}">{{i.clientname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center ">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap">
                        <label for="pcs">Pieces
                            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" id="pcs" name="pcs" value="0" onclick="settozero('pcs')" required>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap">
                        <label for="wt">Weight (gms)
                            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" id="wt" name="wt" value="0.0" onclick="settozero('wt')" required>
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap" id="frname">
                        <label for="fname">From Name
                            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" id="fromname" name="fname" required>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap" id="toname">
                        <label>To Name
                            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" id="fname" name="tname" required>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap" id="fadd">
                        <label for="fadd">From Address :</label>
                        <input type="text" id="fromadd" name="fadd" required>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap" id="tadd">
                        <label for="tadd">To Address
                            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" id="fname" name="tadd" required>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap" id="fno">
                        <label for="fno">From Phone No:</label>
                        <!-- :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> -->
                        <input type="number" id="fromno" name="fno" required>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                    <div class="form-gap" id="tono">
                        <label for="tno">To Phone No
                            :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" id="fname" name="tno" required>
                    </div>
                </div>
                <div class="row d-flex justify-content-center ">
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label>Invoice Number :</label>
                            <input type="number" id="fname" name="invno" required>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label>Invoice Amt
                                :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="number" id="fname" name="invamt" required>
                        </div>
                    </div>

                </div>
                <div class="row d-flex justify-content-center ">
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label for="charge">Charges
                                :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="number" id="charge" name="charge" value="0.0" required
                                onclick="settozero('charge')">
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label for="frcharge">Freight Charge :</label>
                            <input type="number" id="frcharge" name="frcharge" value="0.0"
                                onclick="settozero('frcharge')">
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label for="lrcharge">LR Charge
                                :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="number" id="lrcharge" name="lrcharge" value="0.0"
                                onclick="settozero('lrcharge')">
                        </div>
                    </div>

                </div>
                <div class="row d-flex justify-content-center ">
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label for="othercharge">Others
                                :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" id="othercharge" name="othercharge" value="0.0"
                                onclick="settozero('othercharge')">
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label for="fname">Door Delivery Charges :</label>
                            <input type="number" id="door_delivery_charge" name="door_delivery_charge" value="0.0"
                                onclick="settozero('door_delivery_charge')">
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="form-gap">
                            <label for="total">Total charges:</label>
                            <input type="number" id="total" name="totalcharge" onfocus="totalcharges()" title="total">
                        </div>
                    </div>

                </div>


                <br><br> <br> <br><br>
                <div class="d-flex justify-content-center">

                    <input id="input" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    document.getElementById('date').valueAsDate = new Date();
    const credit = document.getElementById("creditcard");

    const list = document.getElementById("list");
    const clientlist = document.getElementById("clientlist");


    credit.addEventListener("change", function (event) {
        if (event.target.value == "cash") {
            list.style.display = "none";
            document.getElementById('fromname').value = " ";
            document.getElementById('fromadd').value = " ";
            document.getElementById('fromno').value = " ";
            document.getElementById('fromname').disabled = false;
            document.getElementById('fromadd').disabled = false;
            document.getElementById('fromno').disabled = false;
        } else {
            list.style.display = "block";
            document.getElementById('fromname').disabled = true
            document.getElementById('fromadd').disabled = true;
            document.getElementById('fromno').disabled = true;
        }
    });

    function totalcharges() {
        var charge = document.getElementById("charge").value;
        var lrcharge = document.getElementById("lrcharge").value;
        var frcharge = document.getElementById("frcharge").value;
        var door_delivery_charge = document.getElementById("door_delivery_charge").value;
        var othercharge = document.getElementById("othercharge").value;
        // c = parseFloat(charge) + parseFloat(lrcharge) + parseFloat(frcharge) + parseFloat(door_delivery_charge) + parseFloat(othercharge);
        const c = parseFloat(charge) + parseFloat(lrcharge) + parseFloat(frcharge) + parseFloat(door_delivery_charge) + parseFloat(othercharge);
        document.getElementById("total").value = c;
    }
    function settozero(filed) {
        document.getElementById(filed).value = "";

    }
    clientlist.addEventListener("change", function (event) {
        var name = event.target.value;
        var xhr = new XMLHttpRequest();
        const url = '/api/getclientlist/' + name + '?format=json';
        xhr.open('GET', url, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Parse the JSON response data and use it to update the HTML page
                var data = JSON.parse(xhr.responseText);
                document.getElementById("fromname").value = data.data.fname;
                document.getElementById("fromadd").value = data.data.fromadd;
                document.getElementById("fromno").value = data.data.fno;

            } else {
                console.error('API request failed');
            }
        };
        xhr.onerror = function () {
            console.error('API request failed');
        };
        xhr.send();
    });
</script>

</html>